page-home {
  .home-topbar ion-col:last-child{
    border-left: 1px solid rgba(0, 0, 0, .2);
    padding-left: 10px;
  }

  .home-topbar ion-col ion-title {
    position: relative;
    top: calc(50% - 13px);
  }
  .home-topbar ion-col .searchbar-md .searchbar-input {
    padding: 6px 30px 6px 40px;
  }
  .home-topbar ion-col{
    padding: 0 0 0 5px;
  }
}


  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
  }
  .section-active {
    background: color($blue, primary);
    color: #fff;
  }
  .child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
  }
  .child-item {
    background: #f3f2f1;
    padding: 10px;
  }
  .label {
    margin: 0;
  }
  .list {
    margin-bottom: 0;
  }
  .list-header-md{
    margin-bottom: 4px;
  }
  .ion-list{
    margin-top: 4px;
  }
  .item-md h2,
  .input-wrapper{
    text-transform: capitalize;
  }
  .child,
  .correctMargin{
    margin-bottom: 0;
  }

.thirdSubSection:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
