<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row class="home-topbar">
      <ion-col>
        <ion-title>Home</ion-title> <!--set to dynamic by getting the focused page from the menu-->
      </ion-col>
      <ion-col col-8="">
        <ion-searchbar>
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-title margin>Recettes</ion-title>

  <ion-card *ngFor="let file of files | async">
    <ion-card-header>
      <!--{{ file.created | date:'medium' }}-->
      {{ file.title }}
    </ion-card-header>

    <ion-card-content>

      <ion-label class="hide" *ngFor="let ingredient of file.ingredientName">{{ ingredient }}</ion-label>


      <button ion-button icon-center outline (click)="viewFile($event)">
        <ion-icon icon-left name="eye">Voir les ingrédients</ion-icon>
      </button>

      <!--<button ion-button outline icon-left color="danger" (click)="deleteFile(file)">-->
        <!--<ion-icon name="trash"></ion-icon> Delete-->
      <!--</button>-->

    </ion-card-content>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFile()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
