page-new-recipe {
  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
  }
  .section-active {
    background: color($blue, primary);
    color: #fff;
  }
  .subsection-active {
    background: color($blue, secondary);
  }
  .selectedItem{
    background: color($blue, third);
  }
  .hide{
    display: none;
  }
  .child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;

    &.section-active {
      background: color($blue, secondary);
      color: #fff;
    }
  }
  .child-item {
    background: #f3f2f1;
    padding: 0 10px;
  }
  .label {
    margin: 0;
  }
  .list {
    margin-bottom: 0;
  }
  .list-header-md{
    margin-bottom: 4px;
  }
  .ion-list{
    margin-top: 4px;
  }
  .item-md h2,
  .input-wrapper{
    text-transform: capitalize;
  }
  .child,
  .correctMargin{
    margin-bottom: 0;
  }
  .thirdSubSection{
    border-bottom: 1px solid rgba(17, 13, 17, 0.35) !important;
  }
  ion-icon[data-hidden='true']{
    display: none;
  }
}
