<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New recipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-input #recipeName type="text" placeholder="Nom de la recette"></ion-input>
  </ion-card>

  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let categorie of ingredientsList | async; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection($event)" detail-none> <!--premier niveau (Feculents)-->
        <ion-icon data-hidden="false" id="iconForward" item-left name="arrow-forward"></ion-icon>
        <ion-icon data-hidden="true" id="iconDown" item-left name="arrow-down"></ion-icon>
        {{ categorie.familleMere }}
      </button>

      <ion-list *ngIf="categorie.typeMere" no-lines class="section hide">
        <!-- Second Level -->
        <ion-list-header class="correctMargin" *ngFor="let sousCategorie of categorie.typeMere; let j = index" no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleSection($event)" *ngIf="sousCategorie.sousType" class="child" detail-none> <!--second niveau (Pates)-->
            <ion-icon id="iconAdd" data-hidden="false" item-left name="add"></ion-icon>
            <ion-icon id="iconClose" data-hidden="true" item-left name="close"></ion-icon>
            {{ sousCategorie.famille }}
          </button>

          <ion-item *ngIf="!sousCategorie.famille" ion-item detail-none class="child-item thirdSubSection" text-wrap (click)="addToList(sousCategorie.typeName, $event)">
            <h2>{{ sousCategorie.typeName }}</h2>  <!--Second niveau si pas de sous famille (Legumes/...)-->
          </ion-item>

          <ion-list *ngIf="sousCategorie.famille" class="hide">
            <!-- Third Level -->
            <ion-item *ngFor="let sousType of sousCategorie.sousType; let k = index" detail-none class="child-item thirdSubSection" text-wrap  (click)="addToList(sousType.typeName, $event)">  <!--troisieme niveau (Spaghetti)-->
              <h2>{{ sousType.typeName }}</h2>
            </ion-item>
          </ion-list>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
    <button ion-button (click)="addRecipe(recipeName.value)">Ajouter la recette</button>
  </ion-list>

</ion-content>
